a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration:none; 
    cursor:pointer;  
}

.button-cont button {
    font-size: 15px;
}

.button-cont {
     margin-bottom: 10px;
}