a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none; 
    cursor: pointer;  
}

.button-cont button {
    font-size: 15px;
}

.button-cont {
    margin-bottom: 10px;
}

.title, li {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Lucida Grande', sans-serif
}